@using BlazorApp1.Components
@page "/cascadingvalue"

<h3>CascadingValue</h3>

<CascadingValue Value="@TheAnswer">
    <FooComponent></FooComponent>
</CascadingValue>

@code {
    int TheAnswer = 42;
}