@using BlazorApp1.Components

@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<Counter IncrementAmount="20"/>

<SurveyPrompt Title="How is Blazor working for you?" />

<HeadingComponent />