@using BlazorApp1.Components
@page "/splatting"
<h3>Splatting</h3>
<input id="useIndividualParams" maxlength="@Maxlength" placeholder="@Placeholder" required="@Required" size="@Size" />
<input id="useAttributesDict" @attributes="InputAttributes" />

<SplattingChildComponent src="https://www.google.com/logos/doodles/2020/stay-home-save-lives-copy-6753651837108779-s.png" width="100" height="100" />
<SplattingChildComponent width="50" height="50" />

@code {
    [Parameter]
    public string Maxlength { get; set; } = "10";

    [Parameter]
    public string Placeholder { get; set; } = "Input placeholder text";

    [Parameter]
    public string Required { get; set; } = "required";

    [Parameter]
    public string Size { get; set; } = "50";

    [Parameter]
    public Dictionary<string, object> InputAttributes { get; set; } =
        new Dictionary<string, object>()
        {
            { "maxlength", "10" },
            { "placeholder", "Input placeholder text" },
            { "required", "required" },
            { "size", "50" }
        };

}
