<h3>MyLoginDialog</h3>
<p>@text</p>

@code {
    private string text = "Login";
    public string ShowLoginStatus()
    {
        string LoginStatus = "Login Success!!";
        return LoginStatus;
    }
}
